<%= form_with(model: contacts_file, local: true) do |form| %>
  <% if contacts_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contacts_file.errors.count, "error") %> prohibited this contacts_file from being saved:</h2>

      <ul>
        <% contacts_file.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file, class: 'form-label' %>
    <%= form.file_field :file, class: 'form-control' %>
  </div>
<% end %>
